.user-profile {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
   
  .profile-details, .vehicle-details, .service-history {
    margin-bottom: 20px;
  }
   
  .profile-details {
    width: 30%;
    float: left;
  }
   
  .vehicle-details {
    width: 30%;
    float: right;
  }
   
  .service-history {
    width: 100%;
    clear: both;
    margin-top: 40px;
  }
  

/* Enable scroll without showing the scrollbar */
body {
  overflow-y: scroll;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide scrollbar in Internet Explorer and Edge */
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.container {
  max-height: 100vh;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari) */
}

