.admin-dashboard {
  padding: 20px;
}

.admin-dashboard h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.table-responsive {
  margin-top: 20px;
}

.table thead th {
  white-space: nowrap;
  font-size: 1.1rem;
}

.table tbody td {
  white-space: nowrap;
  font-size: 1rem;
  padding: 15px;
}

.table tbody tr {
  margin-bottom: 10px;
}

.table .btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}

.table .btn-warning {
  background-color: #ffc107; /* Yellow for pending */
}

.table .btn-success {
  background-color: #28a745; /* Green for approved */
}

.table .btn-warning:hover {
  background-color: #e0a800; /* Darker yellow for hover */
}

.table .btn-success:hover {
  background-color: #218838; /* Darker green for hover */
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .btn {
  margin: 0 5px;
  font-size: 1rem;
}

.pagination .btn-primary {
  background-color: #007bff;
}

.pagination .btn-secondary {
  background-color: #6c757d;
}

.pagination .btn:hover {
  background-color: #0056b3; /* Darker blue for hover */
}

/* Additional styles for the confirmation dialog */
.react-confirm-alert-overlay {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-confirm-alert-body {
  background: white;
  border-radius: 15px; /* Rounded corners */
  padding: 30px; /* Increased padding */
  max-width: 450px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Stronger shadow */
  text-align: center;
  font-family: 'Arial', sans-serif; /* Custom font */
}

.react-confirm-alert-body h1 {
  font-size: 28px;
  margin-bottom: 25px;
  color: #333; /* Darker text color */
}

.react-confirm-alert-body p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #555; /* Slightly lighter text color */
}

.react-confirm-alert-button-group {
  display: flex;
  justify-content: space-around;
}

.react-confirm-alert-button-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold; /* Bold text */
}

.react-confirm-alert-button-group button:first-child {
  background-color: #28a745; /* Green for Yes */
  color: white;
}

.react-confirm-alert-button-group button:first-child:hover {
  background-color: #218838; /* Darker green for hover */
}

.react-confirm-alert-button-group button:last-child {
  background-color: #dc3545; /* Red for No */
  color: white;
}

.react-confirm-alert-button-group button:last-child:hover {
  background-color: #c82333; /* Darker red for hover */
}
